# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/electrodomesticos"

# Auth.js
NEXTAUTH_SECRET="string-aleatorio-minimo-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Resend
RESEND_API_KEY="re_xxxxxxxxxxxx"
RESEND_FROM_EMAIL="noreply@dominio.com"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
